.buttons2 {
  text-align:justify;
}
.buttons2:after {
  content:'';
  display:inline-block;
  width:52%; /*generates an extra transparent line */
}
/* makeup*/
.buttons2 {
  
  padding: 1.2em 1em 0;
  box-shadow:0 0 5px;
  background:#f2184f;
  margin:1em;
  border-radius:0.45em;
}