{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Arcade Enter </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'website/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/style1.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'website/images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src=""  alt=""><h2 style="font-weight: bold; font-size: 20px;">EA</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="index.html">Home</a></li>
                        <li><a class="nav-link" href="about.html">Aboutus</a></li>
                        <li><a class="nav-link" href="services.html">Services</a></li>
                        <li><a class="nav-link" href="#">Entertainment</a></li>
                        <li><a class="nav-link" href="#">Internships</a></li>
                        <li><a class="nav-link" href="#">Contact</a></li>
                        <li><a class="nav-link active" style="background:#f2184f;color:#fff;" href="#">Sinup now</a></li>
                    </ul>
                </div>
                <div> 
                </div>
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="{% static 'website/images/search_icon.png' %}" alt="#" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->


{% block content %}


{% endblock %}

<!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 margin-bottom_30">
                   <img src="{% static 'website/img/logo2.png' %}" width="120px" height="80px" alt="#" />
                </div>
               <div class="col-xl-6 white_fonts">
                    <div class="row">
                    <div class="col-md-12 white_fonts margin-bottom_30">
                       <h3>Contact Us</h3>
                    </div>
                        <div class="col-md-4">
                            <div class="full icon">
                                <img src="{% static 'website/images/social1.png' %}">
                            </div>
                            <div class="full white_fonts">
                                <p>Juja Nairobi 
                                    <br>Kenya</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="full icon">
                                <img src="{% static 'website/images/social2.png' %}">
                            </div>
                            <div class="full white_fonts">
                                <p>consultation@arcade.com
                                    <br>consultation@softwave.com</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="full icon">
                                <img src="{% static 'website/images/social3.png' %}">
                            </div>
                            <div class="full white_fonts">
                                <p>(+254) 7585 73375
                                    <br>(+254) 7585 73375</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                           <ul class="full social_icon margin-top_20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                 <div class="col-xl-6 white_fonts">
                    <div class="row">
                       <div class="col-md-6">
                         <div class="footer_blog footer_menu">
                            <h3>Menus</h3>
                            <ul> 
                              <li><a href="index.html">Home</a></li>
                              <li><a href="about.html">About Us</a></li>
                              <li><a href="services.html">Services</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="contact.html">Contact us</a></li>
                            </ul>
                         </div>
                         <div class="footer_blog recent_post_footer">
                           <h3>Recent updates</h3>
                           <p> </p></div>
                       </div>
                       <div class="col-md-6">
                         <div class="footer_blog full">
                             <h3>Send Us An Email</h3>
                             <div class="newsletter_form">
                                <form action="index.html">
                                   <input type="email" placeholder="Your Email" name="#" required />
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                       </div>
                    </div>
                 </div>

            </div>
            
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">©Arcade 2020. All Rights Reserved.</p>
                    <ul class="bottom_menu">
                        <li><a href="#">Term of Service</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js2/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'website/js/slider-index.js' %}"></script>
    <script src="{% static 'website/js/smoothscroll.js' %}"></script>
    <script src="{% static 'website/js/form-validator.min.js' %}"></script>
    <script src="{% static 'website/js/contact-form-script.js' %}"></script>
    <script src="{% static 'website/js/isotope.min.js' %}"></script>
    <script src="{% static 'website/js/images-loded.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>
     <script src="{% static 'website/js/counter.js' %}"></script>



 <!-- <script src="{% static 'website/js2/jquery-3.3.1.min.js' %}"></script>-->
  <script src="{% static 'website/js2/jquery-ui.min.js' %}"></script>
  <script src="{% static 'website/js2/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'website/js2/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'website/js2/jquery.slicknav.js' %}"></script>
  <script src="{% static 'website/js2/bootstrap.min.js' %}"></script>
  <script src="{% static 'website/js2/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/js2/main.js' %}"></script>
    
</body>

</html>