
{% extends 'base.html' %}
{% load static %}
{% block title %}Arcade Home{% endblock %}
{% block content %}

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/img/banner-img4.jpg' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3 style="color: cornsilk;">Arcade<br>Entertainment</h3>
                                        <br>
                                        <h4><span class="theme_color">For your Entertainment</span></h4>
                                        <br>
                                        <p>Get best Entertainment and IT solution with us today</p>
                                        <div class="buttons2" align="right">
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-5.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-9.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-8.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/img/banner-img5.jpg' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3 style="color: cornsilk;">Arcade<br>Entertainment</h3>
                                        <br>
                                        <h4><span class="theme_color">For your Entertainment</span></h4>
                                        <br>
                                        <p>Get best Entertainment and IT solution with us today</p>
                                        <div class="buttons2" align="right">
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-5.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-9.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-8.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/img/banner-img6.jpg' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3 style="color: cornsilk;">Arcade<br>Entertainment</h3>
                                        <br>
                                        <h4><span class="theme_color">For your Entertainment</span></h4>
                                        <br>
                                        <p>Get best Entertainment and IT solution with us today</p>
                                        <div class="buttons2" align="right">
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-5.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-9.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-8.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/img/banner-img.png' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3>Softwave<br>Technologies</h3>
                                        <br>
                                        <h4><span class="theme_color">For your Entertainment</span></h4>
                                        <br>
                                        <p>Get best Entertainment and IT solution with us today</p>
                                        <div class="buttons2" align="right">
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-5.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-9.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-8.png' %}" alt="#"></button>
                                            <button id=" showpending"class="service_icons"><img width="75" height="75" src="{% static 'website/img/icon-7.png' %}" alt="#"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->

            </div>
        </div>
    </div>
    <!-- End Banner -->
    
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count"></p>
						   </div>
						   <div class="right">
						    <p class="small_tag">About us</p>
                            <h2><span class="theme_color">Arcade </span></h2>
                            <p class="large">We design and develop custom mobile solutions (apps) and websites </p>
						  </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->

    <!-- section -->
    <div class="section dark_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 text_align_center padding_0">
                    <div class="full">
                        <img class="img-responsive" src="{% static 'website/img/img-2png.png' %}" alt="#" />
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
                    <h3 class="small_heading">Who are<br>We?</h3>
                    <p>Arcade is your Information Technology and Entertainment Hub! Our team converts ideas to apps. We will help you design Android, iOS, SMS or USSD apps as well as web portals and a website to help you launch your app. We also handle integrations, that is, MPESA, CRB, Maps, Paypal! We are your go to people for all your website design in Nairobi, in Kenya and really, in the world. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
                           <div class="left">
                             <p class="section_count"></p>
                           </div>
                           <div class="right">
                            <p class="small_tag">More About us</p>
                            <h2><span class="theme_color">IN A NUTSHELL</span> <br>Who Are We?</h2>
                            <p class="large">We are a group of young and multi-skilled individuals that make the best websites and mobile app development company in Nairobi Kenya. We think custom and uniqueness before amending your idea. </p>
                          </div> 

                        </div>
                        <div class="col-lg-12">
                    <div class="full center">
                        <a href="about.html" class="hvr-radial-out button-theme">See More ></a>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
	
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count"></p>
						   </div>
						   <div class="right">
						    <p class="small_tag">SERVICES</p>
                            <h2><span class="theme_color">Arcade</span> What we are Good In</h2>
                          </div>	
                        </div>
                    </div>
                </div>
            </div>
			<div class="row margin-top_30">
			
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'website/img/icon-1.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Software Development</h4>
					</div>
					<div class="full">
					  <p>Solution driven developers. Timely delivery and well-documented software. Custom software development from user requirement document. We also design Software prototypes.</p>
					</div>
				 </div>
			   </div>
			   
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'website/img/icon-2.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Mobile Application Development</h4>
					</div>
					<div class="full">
					  <p>Android, IOS, and Cross-Platform mobile application development. Hire our team today for effective & efficient delivery.</p>
					</div>
				 </div>
			   </div>
			   
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'website/img/icon-3.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Web Design & Web Application</h4>
					</div>
					<div class="full">
					  <p>Online presence is important for any business. Get your website or web application designed & implemented by professionals.</p>
					</div>
				 </div>
			   </div>
			   
			  <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'website/img/icon-6.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Computer Networks</h4>
					</div>
					<div class="full">
					  <p>Structured cabling, computer network design, Server maintenance, PABX & Internal communication setup.</p>
					</div>
				 </div>
			   </div>
			   
			    <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'website/img/icon-9.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Arcade Gaming</h4>
					</div>
					<div class="full">
					  <p>We are The best in Gaming in the city</p>
					</div>
				 </div>
			   </div>
			   
			  <!-- <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'website/img/icon-6.png'" alt="#">
					</div>
					<div class="full">
					   <h4>Arcade Gaming</h4>
					</div>
					<div class="full">
					  <p></p>
					</div>
				 </div>
			   </div>
			   
			   
			</div>-->
        </div>
    </div>
	<!-- end section
    Home Room Section Begin -->


    <section class="hp-room-section">


        
           <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest Updates </span>
                        
                    </div>
                </div>
            </div>
            <!-- Home series Section End -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
                           <div class="left">
                             <p class="section_count"></p>
                           </div>
                           <div class="right">
                            <p class="small_tag"></p>
                            <h2><span class="theme_color">Latest Movies</span></h2>
                            <p class="large"></p>
                          </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-lg-12 margin-top_30">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hp-room-items">
                                <div class="row">
                                      <div class="col-lg-3 col-md-6">
                                            <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/KatyKeene.jpg' %}">
                                                <div class="hr-text">
                                                    <h3>Katy Keene</h3>
                                                    <h2>45 min<span>/Per Episode</span></h2>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="r-o">Seasons:</td>
                                                                <td>1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Creator:</td>
                                                                <td>Roberto Aguirre-Sacasa, Michael Grassi</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Genre:</td>
                                                                <td>Comedy, Drama</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <a href="#" class="primary-btn">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-lg-3 col-md-6">
                                            <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/KatyKeene.jpg' %}">
                                                <div class="hr-text">
                                                    <h3>Katy Keene</h3>
                                                    <h2>45 min<span>/Per Episode</span></h2>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="r-o">Seasons:</td>
                                                                <td>1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Creator:</td>
                                                                <td>Roberto Aguirre-Sacasa, Michael Grassi</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Genre:</td>
                                                                <td>Comedy, Drama</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <a href="#" class="primary-btn">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/manifest.jpg' %}">
                            <div class="hr-text">
                                <h3>MANIFEST</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1,2</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Jeff Rake, Robert Zemeckis, Jack Rapke</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama, Mystery</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/oval.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
          </div>

                        <!--here-->
            <div class="carousel-item">
            <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/swat.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/manifest.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        
                    <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/swat.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/oval.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
 <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                     </div>
                </div>
                    <div class="col-lg-12">
                      <p>...</p>
                    </div>

                <div class="col-lg-12">
                    <div class="full center">
                        <a href="about.html" class="hvr-radial-out button-theme">See More ></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- Home series Section End -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
                           <div class="left">
                             <p class="section_count"></p>
                           </div>
                           <div class="right">
                            <p class="small_tag"></p>
                            <h2><span class="theme_color">Latest Series</span></h2>
                            <p class="large"></p>
                          </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-lg-12 margin-top_30">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hp-room-items">
                                <div class="row">
                                      <div class="col-lg-3 col-md-6">
                                            <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/KatyKeene.jpg' %}">
                                                <div class="hr-text">
                                                    <h3>Katy Keene</h3>
                                                    <h2>45 min<span>/Per Episode</span></h2>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="r-o">Seasons:</td>
                                                                <td>1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Creator:</td>
                                                                <td>Roberto Aguirre-Sacasa, Michael Grassi</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Genre:</td>
                                                                <td>Comedy, Drama</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <a href="#" class="primary-btn">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-lg-3 col-md-6">
                                            <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/KatyKeene.jpg' %}">
                                                <div class="hr-text">
                                                    <h3>Katy Keene</h3>
                                                    <h2>45 min<span>/Per Episode</span></h2>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="r-o">Seasons:</td>
                                                                <td>1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Creator:</td>
                                                                <td>Roberto Aguirre-Sacasa, Michael Grassi</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Genre:</td>
                                                                <td>Comedy, Drama</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <a href="#" class="primary-btn">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/manifest.jpg' %}">
                            <div class="hr-text">
                                <h3>MANIFEST</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1,2</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Jeff Rake, Robert Zemeckis, Jack Rapke</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama, Mystery</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/oval.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
          </div>

                        <!--here-->
            <div class="carousel-item">
            <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/swat.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/manifest.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        
                    <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/swat.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'website/images/oval.jpg' %}">
                            <div class="hr-text">
                                <h3>TYLER PERRY'S THE OVAL</h3>
                                <h2>42 min<span>/Per Episode</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Seasons:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Creator:</td>
                                            <td>Tyler Perry</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Genre:</td>
                                            <td>Drama</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
 <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                     </div>
                </div>
                    <div class="col-lg-12">
                      <p>...</p>
                    </div>

                <div class="col-lg-12">
                    <div class="full center">
                        <a href="about.html" class="hvr-radial-out button-theme">See More ></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end section -->
	

    <div class="section layout_padding dark_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left white_fonts">
						   <div class="left">
						     <p class="section_count">..</p>
						   </div>
						   <div class="right">
						    <h2>Arcade <span class="theme_color">..</h2>
							<p class="large">What we done</p>
                          </div>	
                        </div>
                    </div>
                </div>
            </div>
			<div class="row margin-top_30">
                <div class="col-lg-12 margin-top_30 white_fonts">
                    <p>...............</p>
                </div>
                <div class="col-lg-12">
                    <div class="full">
                        <a href="#" class="contact_bt">Read More ></a>
                    </div>
                </div>
            </div>
			<div class="row margin-top_30 counter_section">
			   <div class="col-sm-12 col-md-4">
	        <div class="counter margin-top_30">
      
      <!--<h2 class="timer count-title count-number" data-to="23" data-speed="1500"></h2>
       <p class="count-text">NOMINATIONS</p>
    </div>
	        </div>
              <div class="col-sm-12 col-md-4">
               <div class="counter margin-top_30">
      
      <h2 class="timer count-title count-number" data-to="7" data-speed="1500"></h2>
      <p class="count-text">AWARDS</p>
    </div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="counter margin-top_30">
     
      <h2 class="timer count-title count-number" data-to="31" data-speed="1500"></h2>
      <p class="count-text">AGENCIES</p>-->
    </div></div>
			</div>
		
        </div>
    </div>
	<!-- end section -->

    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count"></p>
						   </div>
						   <div class="right">
						    <p class="small_tag">Players Profile</p>
                            <h2><span class="theme_color">We Have a Professional</span> Playes.</h2>
							</div>	
                        </div>
                    </div>
                </div>
            </div>
			<div class="row margin-top_30">
                <div class="col-lg-12 margin-top_30">
                    <div id="team_slider" class="carousel slide" data-ride="carousel">

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
								
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'website/img/makena.jpg' %}" alt="#" />
											 <div class="social_icon_team">
											    <ul class="social_icon">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                               </ul>
                                             </div>											 
										   </div>
										   <div class="full text_align_center">
										     <h3>Makena </h3>
										   </div>
										   <div class="full text_align_center">
                                             <p>Queen of touch</p>
                                            </div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'website/img/kagiri.png' %}" alt="#" />
											 <div class="social_icon_team">
											    <ul class="social_icon">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                               </ul>
                                             </div>											 
										   </div>
										   <div class="full text_align_center">
										     <h3>Kagiri Ronaldo Messi</h3>
										   </div>
										   <div class="full text_align_center">
                                             <p>.... The Messisah </p>
                                            </div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'website/img/amo.png' %}" alt="#" />
											 <div class="social_icon_team">
											    <ul class="social_icon">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                               </ul>
                                             </div>											 
										   </div>
										   <div class="full text_align_center">
										     <h3>King AK Amo</h3>
										   </div>
										   <div class="full text_align_center">
										     <p> The Lethal one</p></div>
										</div>
                                    </div>
									
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
								
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'website/img/munga.jpg' %}" alt="#" />
											 <div class="social_icon_team">
											    <ul class="social_icon">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                               </ul>
                                             </div>											 
										   </div>
										   <div class="full text_align_center">
										     <h3>Ras Munga</h3>
										   </div>
										   <div class="full text_align_center">
										     <p></p>ras munga the finisher</div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'website/img/mnoma.jpg' %}" alt="#" />
											 <div class="social_icon_team">
											    <ul class="social_icon">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                               </ul>
                                             </div>											 
										   </div>
										   <div class="full text_align_center">
										     <h3>Mnoma</h3>
										   </div>
										   <div class="full text_align_center">
                                             <p>unbeaten one</p>
                                            </div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'website/img/derrick.png' %}" alt="#" />
											 <div class="social_icon_team">
											    <ul class="social_icon">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                               </ul>
                                             </div>											 
										   </div>
										   <div class="full text_align_center">
										     <h3>derrick Savage</h3>
										   </div>
										   <div class="full text_align_center">
                                             <p>....</p>
                                            </div>
										</div>
                                    </div>
									
                                </div>
                            </div>
                        </div>

                        <div class="bullets">
						  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#team_slider" data-slide-to="0" class="active"></li>
    <li data-target="#team_slider" data-slide-to="1"></li>
  </ul>
						</div>

                    </div>
                </div>

            </div>
        </div>
    </div>
	</div>
	<!-- end section -->

  {% endblock %}  