<div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Make request</h3>
                        <form action="#">
                            <div class="check-date">
                                <label for="date-in">Request date:</label>
                                <input type="text" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Picking date:</label>
                                <input type="text" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">movie:</label>
                                <select id="guest">
                                    <option value="">drama</option>
                                    <option value="">Action</option>
                                </select>
                            </div>
                
                            <button type="submit">Make reques</button>
                        </form>
                    </div>
                </div>